@inject ClienteService clienteService
@page "/clientes"

<h1 class="my-6 text-left text-4xl font-bold text-gray-700">Clientes Registrados</h1>

@if (clientes == null)
{
    <div class="flex items-center justify-center">
        <p class="text-lg text-gray-600">Cargando...</p>
    </div>
}
else if (clientes.Count == 0)
{
    <div class="flex items-center justify-center">
        <p class="text-lg text-gray-600">No hay clientes disponibles.</p>
    </div>
}
else
{


    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-center text-sm text-gray-500 rtl:text-right dark:text-gray-400">
            <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        ID
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Apellido Paterno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Apellido Materno
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Editar
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var cliente in clientes)
                {
                    <tr class="border-b bg-white hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                        <th scope="row" class="whitespace-nowrap px-6 py-4 font-medium text-gray-900">
                            @cliente.Id
                        </th>
                        <td class="px-6 py-4">
                            @cliente.Nombre
                        </td>
                        <td class="px-6 py-4">
                            @cliente.ApellidoPaterno
                        </td>
                        <td class="px-6 py-4">
                            @cliente.ApellidoMaterno
                        </td>
                        <td class="px-6 py-4">
                            <a href="" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Editar</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="" class="font-medium text-red-600 hover:underline dark:text-red-500">Eliminar</a>
                        </td>
                    </tr>
                
                }
                
            </tbody>
        </table>
    </div>

}


@code {
    private List<ClienteCLS> clientes;

    protected override async Task OnInitializedAsync()
    {
        clientes = await clienteService.GetClientes();
    }
}
